syntax: glob
*.backup*
*.dbs*
*.obj
*.mtl
*.pyc
*.orig
*.wmv
*.sfk
*.sfap*
*.cbp
./obj/**
./bin/**
*.exe
*.o
*.out
*.so
*.dll
*.toc
Main.pdf
*.layout
*.depend
*.aux
*.log
*.png
temp.bat
